* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF Pro Regular';
    src: url(/src/assets/fonts/SF-Pro-Text-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'SF Pro Medium';
    src: url(/src/assets/fonts/SF-Pro-Text-Medium.otf) format('truetype');
}

@font-face {
    font-family: 'SF Pro Semibold';
    src: url(/src/assets/fonts/SF-Pro-Text-Semibold.otf) format('truetype');
}

:root {
    --regular-font: 'SF Pro Regular';
    --medium-font: 'SF Pro Medium';
    --semibold-font: 'SF Pro Semibold';
    --header-letter-spacing: -0.625rem;
    --subheader-letter-spacing: -0.313rem;
    --regular-letter-spacing: -0.075rem;
    --line-height: 5.625rem;
    --header-size: 6.875rem;
    --subheader-size: 4.375rem;
    --regular-size: 1.25rem;
    --cta-color: #090909;
    --accent-color: #202020;
    --sub-color: #676767;
    --white-color: #FFFFFF;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    background-image: url('/src/assets/images/background.png'), linear-gradient(to bottom, #121212, #1A1A1A);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    width: 100%;
    height: 100vh;
}

.navbar-section {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    border: 1px solid #1A1A1A;
    z-index: 999;
    position: fixed;
    background: transparent;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.nav-links img {
    width: 35px;
    height: auto;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-family: var(--medium-font);
    text-decoration: none;
    color: var(--white-color);
    transition: all 0.1s ease-in-out;
}

.nav-links li a:hover {
    color: var(--sub-color);
}

#download-button {
    background-color: var(--cta-color);
    padding: 15px 30px;
    color: var(--white-color);
    font-family: var(--medium-font);
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

#download-button:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: #151515;
}

@media (max-width: 1024px) {

}
  
@media (max-width: 600px) {

}