* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF Pro Regular';
    src: url(/src/assets/fonts/SF-Pro-Text-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'SF Pro Medium';
    src: url(/src/assets/fonts/SF-Pro-Text-Medium.otf) format('truetype');
}

@font-face {
    font-family: 'SF Pro Semibold';
    src: url(/src/assets/fonts/SF-Pro-Text-Semibold.otf) format('truetype');
}

:root {
    --regular-font: 'SF Pro Regular';
    --medium-font: 'SF Pro Medium';
    --semibold-font: 'SF Pro Semibold';
    --header-letter-spacing: -0.625rem;
    --subheader-letter-spacing: -0.313rem;
    --regular-letter-spacing: -0.075rem;
    --line-height: 5.625rem;
    --header-size: 6.875rem;
    --subheader-size: 4.375rem;
    --regular-size: 1.25rem;
    --cta-color: #090909;
    --accent-color: #202020;
    --sub-color: #676767;
    --white-color: #FFFFFF;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    min-height: 100vh;
    background-image: url('/src/assets/images/background.png'), linear-gradient(to bottom, #121212, #1A1A1A);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

.navbar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    border: 1px solid #1A1A1A;
    z-index: 999;
    position: fixed;
    background: transparent;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.nav-links img {
    width: 35px;
    height: auto;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-family: var(--medium-font);
    text-decoration: none;
    color: var(--white-color);
    transition: all 0.1s ease-in-out;
    letter-spacing: var(--regular-letter-spacing);
}

.nav-links li a:hover {
    color: var(--sub-color);
}

#download-button {
    background-color: var(--cta-color);
    padding: 15px 30px;
    color: var(--white-color);
    font-family: var(--medium-font);
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    letter-spacing: var(--regular-letter-spacing);
}

#download-button:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: #151515;
}

.cta-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.cta-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 70px;
}

.factored-container p {
    font-family: var(--medium-font);
    color: var(--sub-color);
    font-size: var(--regular-size);
    letter-spacing: var(--regular-letter-spacing);
}

.cta-text-container h1 {
    font-family: var(--semibold-font);
    font-size: var(--header-size);
    letter-spacing: var(--header-letter-spacing);
    line-height: var(--line-height);
    color: var(--white-color);
}

.cta-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cta-buttons-container button {
    font-family: var(--medium-font);
    letter-spacing: var(--regular-letter-spacing);
    padding: 15px 30px;
    font-size: var(--regular-size);
    border-radius: 10px;
    border: none;
}

#cta-github-button,
#cta-demo-button {
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

#cta-github-button:hover,
#cta-demo-button:hover {
    cursor: pointer;
    background: transparent;
}

#cta-demo-button:hover {
    color: var(--white-color);
}

#cta-github-button {
    background-color: var(--cta-color);
    color: var(--white-color);
}

#cta-demo-button {
    background-color: var(--white-color);
}

.main-mockup {
    width: 1100px;
    height: auto;
}

.overview-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.overview-container {
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100%;
    border-radius: 20px;
    gap: 20px;
}

.overview-content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.overview-content-container h1 {
    font-family: var(--semibold-font);
    font-size: var(--subheader-size);
    letter-spacing: var(--subheader-letter-spacing);
    line-height: 3.75rem;
}

.overview-content-container p {
    font-family: var(--regular-font);
    font-size: var(--regular-size);
    letter-spacing: var(--regular-letter-spacing);
} 

.overview-content-container button {
    font-family: var(--medium-font);
    letter-spacing: var(--regular-letter-spacing);
    padding: 18px 40px;
    font-size: var(--regular-size);
    border-radius: 10px;
    border: none;
    background-color: var(--cta-color);
    color: var(--white-color);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.overview-content-container button:hover {
    color: var(--cta-color);
    cursor: pointer;
    background: transparent;
}

.overview-mockup-container img {
    width: 550px;
    height: auto;
}

.overview-mockup-container p {
    font-family: var(--regular-font);
    font-size: 16px;
    letter-spacing: var(--regular-letter-spacing);
    color: var(--sub-color);
    font-style: italic;
}

.features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.features-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

.features-header-container h1 {
    font-family: var(--semibold-font);
    font-size: var(--subheader-size);
    letter-spacing: var(--subheader-letter-spacing);
    color: var(--white-color);
    margin-bottom: 5px;
}

.features-header-container p {
    font-family: var(--regular-font);
    font-size: var(--regular-size);
    letter-spacing: var(--regular-letter-spacing);
    color: var(--sub-color);
}

.features-content-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.cards {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    height: 320px;
    gap: 20px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.cards p {
    font-family: var(--semibold-font);
    font-size: 50px;
    letter-spacing: var(--subheader-letter-spacing);
    line-height: 45px;
    color: var(--white-color);
}

.features-content-container img {
    width: 100px;
    height: auto;
}

.demo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.demo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.demo-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.demo-header-container h1 {
    font-family: var(--semibold-font);
    font-size: var(--subheader-size);
    letter-spacing: var(--subheader-letter-spacing);
    color: var(--white-color);
    margin-bottom: 5px;
}

.demo-header-container p {
    font-family: var(--regular-font);
    font-size: var(--regular-size);
    letter-spacing: var(--regular-letter-spacing);
    color: var(--sub-color);
}

.demo-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.demo-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: var(--accent-color);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.demo-screen img {
    width: 80px;
    height: auto;
    cursor: pointer;
}

.demo-screen h1 {
    font-family: var(--semibold-font);
    font-size: 50px;
    letter-spacing: var(--subheader-letter-spacing);
    color: var(--white-color);
}

.demo-screen p {
    font-family: var(--regular-font);
    font-size: var(--regular-size);
    letter-spacing: var(--regular-letter-spacing);
    color: var(--sub-color);
}

.faqs-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--secondary-color);
    gap: 10px;
}

@media (max-width: 1024px) {

}
  
@media (max-width: 600px) {

}